<!DOCTYPE html>
<html>
  <head>
    <title> Mae Travel Associates</title>
  </head>
  <body> 
   <div class="w3-row-padding w3-grayscale">
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="/w3images/team2.jpg" alt="Mallory" style="width:100%">
        <div class="w3-container">
          <h3>Mallory Maher</h3>
          <p class="w3-opacity">Klossy Scholar</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="/w3images/team1.jpg" alt="April" style="width:100%">
        <div class="w3-container">
          <h3>April Mata</h3>
          <p class="w3-opacity">Klossy Scholar</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="/w3images/team3.jpg" alt="Elana Pocress" style="width:100%">
        <div class="w3-container">
          <h3>Elana Pocress</h3>
          <p class="w3-opacity">Klossy Scholar</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
      </div>
    </div>
  </div>

  </body> 
  </html>
  