<!DOCTYPE html>
<html>
  <head>
    <title> Mae Travel Associates</title>
  </head>
  <body> 
   <h1><center>About Us</center></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <center>
        <div class="w3-row-padding w3-grayscale">
          <div class="w3-col m4 w3-margin-bottom">
            <div class="w3-light-grey">
              <a href="http://tinypic.com?ref=a9wx77" target="_blank"><img src="http://i65.tinypic.com/a9wx77.jpg" border="0" alt="Image and video hosting by TinyPic"></a>
                  <div class="w3-container">
                <h3>Mallory Maher</h3>
                <p class="w3-opacity">Klossy Scholar</p>
               <p>Mallory Maher is 18 years old and passionate about coding, volunteering, and soccer. 
               <br> She is going to University of Maryland and majoring in Information Science with a possible minor of computer science.</p>
              </div>
            </div>
          </div>
        <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <a href="http://tinypic.com?ref=a9wx77" target="_blank"><img src="http://i65.tinypic.com/a9wx77.jpg" border="0" alt="Image and video hosting by TinyPic"></a>
          <div class="w3-container">
            <h3>April Mata</h3>
            <p class="w3-opacity">Klossy Scholar</p>
              <p>April Mata is 14 years old and passionate about coding, helping others, and art. 
              <br>She hopes to be a computer science major. She is the mastermind behind our wonderful logo.</p>
            </div>
          </div>
        </div>
      <div class="w3-col m4 w3-margin-bottom">
        <div class="w3-light-grey">
          <a href="http://tinypic.com?ref=rvhf28" target="_blank"><img src="http://i65.tinypic.com/rvhf28.jpg" border="0" alt="Image and video hosting by TinyPic"></a>
          <div class="w3-container">
           <h3>Elana Pocress</h3>
            <p class="w3-opacity">Klossy Scholar</p>
            <p>Elana Pocress is 16 years old and passionate about computer science, reading, and biomedicine. 
            <br>She hopes to combine her passions of biomedicine and coding to become a biomedical engineer.</p>
          </div>
        </div>
      </div>
    </div>
  </center>

  </body> 
  </html>
  