<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mae Travel Associates</title>
  </head>

  <body>
    <h1><center>Welcome to Mae Travel Associates!</center></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <!--<img src="https://data.whicdn.com/images/105807026/superthumb.jpg?t=1394540216">-->

  
  <div id="contact" style="margin-top:75px">
    <center><h1 class="w3-xxxlarge w3-text-red"><b>Contact Us!</b></h1></center>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p><center>Do you want a travel experience tailored to your interests? Fill out the form below and fill me in with the details :) 
    <br>
    We would love to help you and your family enjoy your trip to the fullest extent!</center></p>
    <br>
    <center>
    <form method= "POST" action="/thankyou">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" name="Name" required>
      </div>
      <br>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" name="Email" required>
      </div>
      <br>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border" type="text" name="Message" required>
      </div>
      <br>
      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send Message</button>
    </form> 
    </center>
    <br>
    <br>
  </div>

  </body>
</html>
