<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Mae Travel Associates</title>
  </head>

  <body class="homepage" id="homecolor">
    <h1><center>Welcome to Mae Travel Associates!</center></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <center>
    <img src="http://i63.tinypic.com/30wv6n4.jpg">
    </center>
    <br>
    <h1><center>Our Mission</center></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <center>Here at Mae Travel Associates, we cater to you and your family's need and interests to introduce you to the 
    <br>greatest attractions that the city you're traveling to has to offer. We will soon be expanding to even more cities near you.
    <br>
    <br>Follow us to see our next steps to enhance your travel experience:
    <br><a href="https://www.instagram.com/maetravel/">Our Instagram</a>
    </center>
    
    <h1><center>Cities</center></h1>
    <center><hr style="width:50px;border:5px solid red" class="w3-round">
    <form method="POST" action='/newyork'>
      <input type="submit" value="New York">
    </form>
    <!--<button type="submit" formaction="/newyork">New York</button>-->
      <br>
    <form method="POST" action='/losang'>
      <input type="submit" value="Los Angeles">
    </form>
    <!--<button class="button button2">Los Angeles</button>-->
      <br>
    <form method="POST" action='/stlouis'>
      <input type="submit" value="St. Louis">
    </form>
    <!--<button class="button button3">St. Louis</button>-->
      <br>
    <form method="POST" action='/miami'>
      <input type="submit" value="Miami">
    </form>
    <!--<button class="button button4">Miami</button>-->
  
  </center>
    
    <h1><center>About Us</center></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <br>
    <br>
    <center>
        <div class="w3-row-padding w3-grayscale">
          <div class="w3-col m4 w3-margin-bottom">
            <div class="w3-light-grey">
              <img src="http://i68.tinypic.com/2qjf9df.jpg" border="0" style="transform:rotate(90deg);width;100px;height:200px;" >
                  <div class="w3-container">
                    <br>
                <h3>Mallory Maher</h3>
                <p class="w3-opacity">Klossy Scholar</p>
               <p>Mallory Maher is 18 years old and passionate about coding, volunteering, and soccer. 
               <br> She is going to University of Maryland and majoring in Information Science with a possibly minor of computer science.</p>
               <br>
               <br>
              </div>
            </div>
          </div>
        <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="http://i65.tinypic.com/a9wx77.jpg" border="0" style="transform:rotate(90deg);width;100px;height:200px;" >
            <div class="w3-container">
              <br>
          <div class="w3-container">
            <h3>April Mata</h3>
            <p class="w3-opacity">Klossy Scholar</p>
              <p>April Mata is 14 years old and passionate about coding, helping others, and art. 
              <br>She hopes to be a computer science major. She is the mastermind behind our wonderful logo.</p>
                <br>
                <br>
            </div>
          </div>
        </div>
      <div class="w3-col m4 w3-margin-bottom">
        <div class="w3-light-grey">
          <img src="http://i65.tinypic.com/rvhf28.jpg" border="0" style="transform:rotate(90deg);width;100px;height:200px;" >
            <div class="w3-container">
              <br>
          <div class="w3-container">
           <h3>Elana Pocress</h3>
            <p class="w3-opacity">Klossy Scholar</p>
            <p>Elana Pocress is 16 years old and passionate about computer science, reading, and biomedicine. 
            <br>She hopes to combine her passions of biomedicine and coding to become a biomedical engineer.</p>
          </div>
        </div>
      </div>
    </div>
  </center>
  
  <div id="contact" style="margin-top:75px">
    <center><h1 class="w3-xxxlarge w3-text-red"><b>Contact Us!</b></h1></center>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p><center>Do you want a travel experience tailored to your interests? Fill out the form below and fill me in with the details :) 
    <br>
    We would love to help you and your family enjoy your trip to the fullest extent!</center></p>
    <br>
    <center>
    <form method= "POST" action="/thankyou">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" name="Name" required>
      </div>
      <br>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" name="Email" required>
      </div>
      <br>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border" type="text" name=""ame="Message" required>
      </div>
      <br>
      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send Message</button>
    </form> 
    </center>
    <br>
    <br>
  </div>

  </body>
</html>
