<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Los Angeles</title>
    </head>
    <body class="losangeles">
    
    <div class="shadow">
    <strong><center>
      <font size="10">
      Mae I assist you?
    </center>
    </div>
     
      <div class="shadow"><h3>
        What would you like to do in Los Angeles?
      </h3></div>
  
<div>
  <h4>
    <center>
    <ul class="shadow">Only in LA</ul>
      <a href= https://santamonicapier.org/> Santa Monica Pier </a>
      <br>
      <a href= https://www.visitcalifornia.com/attraction/sunset-boulevard> Sunset Boulevard </a>
      <br>
      <a href= http://griffithobservatory.org/> Griffith Observatory </a>
      <br>
      
  <ul class="shadow">Family Fun</ul>
      <a href= https://disneyland.disney.go.com/> Disneyland </a>
      <br>
      <a href= https://www.universalstudioshollywood.com/> Universal Studios </a>
      <br>
      <a href= http://www.walkoffame.com/> Hollywood Walk of Fame </a>
      <br>
  <ul class="shadow">Museums</ul>
      <a href= https://www.grammymuseum.org/> Grammy Museum </a>
      <br>
      <a href= https://nhm.org/site/> Natural History of Los Angeles </a>
      <br>
      <a href= http://www.lacma.org/> Los Angeles County Museum of Art </a>
      <br>
      
    <ul class="shadow">Theatre</ul>
      <a href= https://latw.org/> Los Angeles Theatre Works </a>
      <br>
      <a href= http://laorpheum.com/> The Orpheum </a>
      <br>
      <a href= http://www.tclchinesetheatres.com/> Grauman's Chinese Theatre </a>
      <br>
      
    <ul class="shadow">Sports</ul>
    <a href= https://www.nba.com/lakers/> Lakers Game </a>
    <br>
    <a href= https://www.mlb.com/dodgers> Dodgers Game </a>
    <br>
    <a href= http://uafootball.us/all-america-football-game/> Kings Game </a>
    <br>
  </ul>
</div>
  </h4>
    </center>
</body>

</html>
