<!DOCTYPE html>
<html>
  <head>
    <body>
      <h1><strong>
        <font size="9">
        Miami
        </strong></h1>
    </body>
    
    <body>
    <h3><strong>
      <font size="">
      Mae I assist you?
    </title>
      </body>
     
      <body><h5>
        What would you like to do in Miami?
      </body></h5>
  
<body>
  <ul>
    Family Fun
      <br>
    Museums
      <br>
    Theatre
      <br>
    Only in Miami
      <br>
    Sports
  </ul>
</body>

</html>
