<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Miami</title>
    </head>
    <body class="miami">
    
    <div class="shadow">
    <strong><center>
      <font size="10">
      Mae I assist you?
    </center>
    </div>
     
      <div class="shadow"><h3>
        What would you like to do in Miami?
      </h3></div>
  
<div>
  <h4>
    <center>
    <ul class="shadow">Only in Miami</ul>
      <a href= http://www.miamiandbeaches.com/places-to-see/miami-beach?utm_source=Google_AdWords&utm_medium=CPC&utm_campaign=GMCVB_Consumer_CPC&utm_content=Miami_MiamiFL_(e):1000988&utm_term=Miami_Beach_Exact&gclid=CjwKCAjwwdTbBRAIEiwAYQf_Ey395I7QwvsqaEhWKcIWawSLiElkJ0g6c99HCEqm2jtk2w-k1nw4MhoCv5QQAvD_BwE> Miami Beach </a>
      <br>
      <a href= http://vizcaya.org/> Vizcaya Museum of Gardens </a>
      <br>
      <a href= http://www.versaillesrestaurant.com/about> Versailles Restaurant </a>
      <br>
    <ul class="shadow">Family Fun</ul>
      <a href= https://www.miamiseaquarium.com/> Miami Seaquarium </a>
      <br>
      <a href= https://www.jungleisland.com/> Jungle Island </a>
      <br>
      <a href= http://www.coralgables.com/index.aspx?page=167> Venetian Pool </a>
      <br>
    <ul class="shadow">Museums</ul>
      <a href= http://www.thewynwoodwalls.com/> Wynwood Walls </a>
      <br>
      <a href= https://www.frostscience.org/?gclid=CjwKCAjwwdTbBRAIEiwAYQf_Ez-85p_aCV-CTYI4vNTyDAB7ikYVNqZ4NM7bYaR12Fe_idZwpFVGMhoCRrcQAvD_BwE> Philip and Patricia Frost Museum of Science </a>
      <br>
      <a href= http://www.deeringestate.org/> Deering Estate </a>
      <br>
    <ul class="shadow">Theatre</ul>
      <a href= http://centermiami.com/adriennearchst/?gclid=CjwKCAjwwdTbBRAIEiwAYQf_Ewovc7guBa876HExTnllrRVYnt6BQdjD-fSNJTrnsxry1NN4pk8FzhoCcDIQAvD_BwE> Adrienne Arsht Center </a>
      <br>
      <a href= https://www.scorebig.com/olympia-theater-miami-tickets?ppc_src=google&utm_source=google&utm_medium=ppc&utm_campaign=olympia-theater-miami-general1-certified&gclid=CjwKCAjwwdTbBRAIEiwAYQf_E25fSmzIKf6eic8oI8wnwufzKHyEvr7yhR70NNUk2j2J2rPg-1rJyRoCXMUQAvD_BwE&gclsrc=aw.ds> Olympia Theatre </a>
      <br>
      <a href= http://flamingotheaterllc.com/> Flamingo Theatre Bar </a>
      <br>
    <ul class="shadow">Sports</ul>
    <a href= https://www.miamidolphins.com/> Miami Dolphins </a>
    <br>
    <a href= https://www.nba.com/heat/home> Miami Heat </a>
    <br>
    <a href= https://www.mlb.com/marlins> Miami Marlins </a>
    <br>
</div>
  </h4>
    </center>
</body>

</html>
