<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="app/miami.css">
    <title>Miami</title>
    </head>
    <body>
      
    </body>
    
    <div>
    <h3><strong>
      <font size="">
      Mae I assist you?
    </title>
    </div>
     
      <div>><h5>
        What would you like to do in Miami?
      </h5></div>
  
<div>
  <ul>
    Family Fun
      <br>
    Museums
      <br>
    Theatre
      <br>
    Only in Miami
      <br>
    Sports
  </ul>
</div>
</body>

</html>
