<!DOCTYPE html>
<html>
  <head>
    <body>
      <h1><strong>
        <font size="9">
        New York
        </strong></h1>
    </body>
    
    <body>
    <h3><strong>
      <font size="">
      Mae I assist you?
    </title>
      </body>
     
      <body><h5>
        What would you like to do in New York City?
      </body></h5>
  
<body>
  <ul>
    <button class="button button1">Fun for the whole famliy!</button>
      <br>
    <button class="button button2">Museums</button>
      <br>
    <button class="button button3">Theatre</button>
      <br>
    <button class="button button4">Only in NYC</button>
      <br>
    <button class="button button5">Sports</button>
  </ul>
</body>

</html>
    