<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>New York City</title>
    </head>
    <body class="new_york">
    
    <div>
    <strong><center>
      <font size="10">
      Mae I assist you?
    </center>
    </div>
     
      <div><h3>
        What would you like to do in New York City?
      </h3></div>
  
<div>
  <h4>
    <center>
  <ul>
    Only in NYC
      <br>
    Family Fun
      <br>
    Museums
      <br>
    Theatre
      <br>
    Sports
  </ul>
</div>
</h4>
</center>
</body>

</html>
