<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>New York City</title>
    </head>
    <body class="new_york">
    
    <div class="shadow">
    <strong><center>
      <font size="10">
      Mae I assist you?
    </center>
    </div>
     
      <div class="shadow"><h3>
        What would you like to do in New York City?
      </h3></div>
  
<div>
  <h4>
    <center>
    <ul class="shadow">Only in New York</ul>
      <br>
    <ul class="shadow">Family Fun</ul>
      <br>
    <ul class="shadow">Museums</ul>
      <br>
    <ul class="shadow">Theatre</ul>
      <br>
    <ul class="shadow">Sports</ul>
</div>
  </h4>
    </center>

</body>

</html>
