<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>New York City</title>
    </head>
    <body class="new_york">
    
    <div class="shadow">
    <strong><center>
      <font size="10">
      Mae I assist you?
    </center>
    </div>
     
      <div class="shadow"><h3>
        What would you like to do in New York City?
      </h3></div>
  
<div>
  <h4>
    <center>
    <ul class="shadow">Only in New York</ul>
      <a href= https://www.911memorial.org/?> 911 Memorial </a>
      <br>
      <a href= http://www.esbnyc.com/> Empire State Building </a>
      <br>
      <a href= https://www.statueoflibertytickets.com/?gclid=CjwKCAjwwdTbBRAIEiwAYQf_E6mMSxFDegMiLrsMP08_kmpHzbuyPCo-JMi2ZK3unY0-Y1DxqORcTRoCyuEQAvD_BwE> Statue of Liberty </a>
      <br>
    <ul class="shadow">Family Fun</ul>
      <a href= https://lunaparknyc.com/Fun> Coney Island </a> 
      <br>
      <a href= https://www.nybg.org/> Botanical Gardens </a>
      <br>
      <a href= https://www.madametussauds.com/new-york/en/> Madame Tussauds </a>
      <br>
    <ul class="shadow">Museums</ul>
      <a href= https://www.moma.org/> MOMA </a> 
      <br>
      <a href= https://www.metmuseum.org/> Metropolitan </a>
      <br>
      <a href= https://www.amnh.org/> Museum of Natural History </a>
      <br>
    <ul class="shadow">Theatre</ul>
      <a href= https://www.broadway.com/> Broadway </a>
      <br>
      <a href= http://www.ifccenter.com/> IFC Center </a>
      <br>
      <a href= https://www.citycinemas.com/beekman/showtimes-and-tickets/now-playing> Beekman Theatre </a>
      <br>
    <ul class="shadow">Sports</ul>
    <a href= https://www.nflexperience.com/> NFL Experience </a>
    <br>
    <a href= https://www.mlb.com/yankees/ballpark> Yankee Stadium </a>
    <br>
    <a href= https://www.msg.com/madison-square-garden> Madison Square Garden </a>
    <br>
</div>
  </h4>
    </center>

</body>

</html>
