<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>St. Louis</title>
    </head>
    <body class="stlouis">
    
    <div>
    <strong><center>
      <font size="10">
      Mae I assist you?
    </center>
    </div>
     
      <div><h3>
        What would you like to do in St, Louis?
      </h3></div>
  
<div>
  <h4>
    <center>
  <ul>
    Only in St. Louis
    <br>
    Family Fun
      <br>
    Museums
      <br>
    Theatre
      <br>
    Sports
  </ul>
</div>
  </h4>
    </center>
</body>

</html>
