<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>St. Louis</title>
    </head>
    <body class="stlouis">
    
    <div class="shadow">
    <strong><center>
      <font size="10">
      Mae I assist you?
    </center>
    </div>
     
      <div class="shadow"><h3>
        What would you like to do in St, Louis?
      </h3></div>
  
<div>
  <h4>
    <center>
    <ul class="shadow">Only in St. Louis</ul>
      <a href= https://www.gatewayarch.com/> Gateway Arch </a>
      <br>
      <a href= https://www.forestparkforever.org/> Forest Park </a>
      <br>
      <a href= https://www.grantsfarm.com/> Grant's Farm </a>
      <br>
    <ul class="shadow">Family Fun</ul>
      <a href= https://www.stlzoo.org/> Zoo </a>
      <br>
      <a href= https://www.sixflags.com/stlouis> Six Flags Missouri </a>
      <br>
      <a href=  http://www.missouribotanicalgarden.org/> Missouri Botanical Garden </a>
      <br>
    <ul class="shadow">Museums</ul>
      <a href= https://www.citymuseum.org/> St. Louis City Museum </a>
      <br>
      <a href= https://www.slsc.org/> Science Center </a>
      <br>
      <a href= http://www.slam.org/> Art </a>
      <br>
    <ul class="shadow">Theatre</ul>
      <a href= https://www.slso.org/> Symphony Orchestra </a>
      <br>
      <a href= https://www.fabulousfox.com/> Fox Theatre </a>
      <br>
      <a href= https://www.opera-stl.org/> Opera Theatre of St. Louis </a>
      <br>
    <ul class="shadow">Sports</ul>
      <a href= https://www.stlballparkvillage.com/> Ballpark Village </a>
      <br>
      <a href= https://stlouisbaseball.eventticketscenter.com/st-louis-cardinals-tickets/359/e?gclid=CjwKCAjwwdTbBRAIEiwAYQf_E4r4CXDZQU5JFXsiHySaeSz1z_LRpifwUpuGPzA0K2ZjlxLnmR5hlhoCWgcQAvD_BwE> Cardinals Game </a>
      <br>
      <a href= https://www.nhl.com/blues> St. Louis Blues </a>
      <br>
</div>
  </h4>
    </center>
</body>

</html>
